doctype html
html
  head
    meta(charset='utf-8')
    title Nodejs Jade 上传文件显示
    link(rel='stylesheet', href='/static/styles/mormalize.css')
  body
    div#main_content
      div
        img(src='#{imgURL}', alt="上传后的图片")
